/home/adam/Programming/LCD_touch/__pycache__/*
/home/adam/Programming/LCD_touch/.vscode
/home/adam/Programming/LCD_touch/lcd_mode.h
/home/adam/Programming/LCD_touch/lcd_registers.h
/home/adam/Programming/LCD_touch/LCDWIKI_GUI.h
/home/adam/Programming/LCD_touch/LCDWIKI_KBV.h
/home/adam/Programming/LCD_touch/Touchscreen.h
